@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::after
*::before{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
  text-decoration:none;
}
:root{
  --font-primary: "Roboto Condensed", sans-serif;
  --color-base: #ffffff;
  --color-primero: #484848;
  --color-segundo: #52B801;
  --color-tercero: #909090;
  --color-cuarto: #D9D9D9;
  --color-quinto: #000000;

}
body{
  font-family: var(--font-primary);
  font-size: 100%;
  list-style-type: none;
  box-sizing: border-box;
}

.titulo{
  background-color: var(--color-quinto);
  color: var(--color-base);
  width: 100%;
  text-align: center;
  margin-block-end: 0;
  
}
.contenedor{
  background-color: var(--color-primero);
  width: 50%;
  height: 90vh;
  position: relative;
}
.contenedor__contenido{
  width: 100%;
  display: flex;
  height: 75%;
  justify-content: center;
  flex-wrap: nowrap;  
  

}
.vitrinaProductos{
  display: flex;
  flex-wrap: wrap; 
  gap: 4px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tercero);
  flex-basis: 55%;
}
.contenedor__tablero{
  width: 100%;
  background-color: var(--color-segundo);
  
}
.tablero{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  
  
}
#casilla__producto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 10rem;
  background-color: var(--color-primero);
  flex-basis: 45%;

}

.carrito{
  flex-basis: 100%;
}
.descuento{
  display: block;
  width: 95%;
  padding:10px;
  margin: 5px 12px;
  

}
.buscador{
  /* background-color: var(--color-tercero); */
  width: 91%;
  padding: 5px;
  margin: 1px auto;
  margin-bottom: 6px;
  text-align: center;

}
.inputtext{
  width: 50%;
  height: 30px;
}
.btnBuscar{
  width: 38%;
  height: 35px;
}
.display__top{
  display: flex;
  width: 410px;
  
  column-gap: 4px;
  align-items: center;
  margin: 0 10px;
  background-color: var(--color-tercero);
}
.descripcion__producto{
  width: 400px;
  text-align: center;
  color: var(--color-base);
}
label{
  display: block;
}

.contenedor__teclado{
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: #000000;
}
.display__teclado{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  gap: 4px;
  background-color: var(--color-quinto);
  flex-basis: 100%;
}
.display___bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 177px 0 44px;
  height: 30px;
  padding: 5px;
  text-align: center;
  background-color: var(--color-quinto);
}
.controls{
  font-size: 16px;
  
}
#tecla{
  width: 34px;
  height: 34px;
  font-size: 15px;
}

.carrito__cantidades{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
  margin: 20px 10px;
  padding: 0 15px;
  background-color: #000000;
  color: #D9D9D9;
  font-weight: 700;

  height:40px;
}
.sectionPago{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
  margin: 50px 15px 0px 15px;
}

.btnPago{
  border-radius: 10px;
  width: 8rem;
  font-size: 16px;

}

.contenedor__despacho{
  display: flex;
  width: 100%;
  height: 120px;
  

}
.dispensadora{
  width: 100px;
  height: 100px;
  background-color: var(--color-cuarto);
  
}

footer{
  display: flex;
  width: 50%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
}
.left{
  width: 50px;
  background-color: var(--color-tercero);
  margin-left: 30px;

}
.right{
  width: 50px;
  background-color: var(--color-tercero);
  margin-right: 30px;
}
